 <label class="flex flex-col gap-1 w-full " >
    <!-- <span>{{label()}}</span> -->
    <input
     class="w-full border border-gray-400 rounded px-3 py-2
      focus:outline-none focus:ring-2 focus:ring-primary"
        [type]="type()"
        [max]="maxDate()"
        [class.input-error]="control.invalid && control.touched"
        [class.input-success]="control.valid && control.touched"
        [formControl]="control"
        [placeholder]="label()">
    @if (control.hasError('required') && control.touched) {
    <div class="mt-1 text-red-500 text-xs">{{label()}} is required</div>
    }
    @if (control.hasError('email') && control.touched) {
    <div class="mt-1 text-red-500 text-xs">Invalid email address</div>
    }
    @if (control.hasError('minlength') && control.touched) {
    <div class="mt-1 text-red-500 text-xs">
        {{label()}} must be at least
        {{control.errors?.['minlength'].requiredLength}} characters
    </div>
    }
    @if (control.hasError('maxlength') && control.touched) {
    <div class="mt-1 text-red-500 text-xs">
        {{label()}} must be at most
        {{control.errors?.['maxlength'].requiredLength}} characters
    </div>
    }
    @if (control.hasError('passwordMismatch') && control.touched) {
    <div class="mt-1 text-red-500 text-xs">Passwords do not match</div>
    }
</label>
